@model IEnumerable<Chhayatech.Models.clist>

@{
    ViewBag.Title = "Fcon";
}

<h2>Course Control</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cduration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cfee)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cduration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cfee)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.cid }) |
                @Html.ActionLink("Details", "Details", new { id = item.cid }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.cid })
            </td>
        </tr>
    }

</table>

<p>All Link Page @Html.ActionLink("All Links", "AllLinks", "Home")</p>